.left {
  width: 30%;
  float: left;
}

.right {
  width: 30%;
  float: right;
}

.sidebar {
  border: 12px solid green;
  margin: 5px;
  padding: 4px;
  width: 20%;
  float: right;
  background-color: gold;
}

.something{
  width: 200px;
  padding: 5px;
}
